This is the file for exploration

In [1]:
# imports

import numpy as np
import matplotlib as plt
import pandas as pd
import csv

In [2]:
#import data
train_data = []
columns = []
with open('train.csv', newline='') as csvfile:
    train_data_reader = csv.reader(csvfile)
    first = True
    for line in train_data_reader:
        if first:
            columns.append(line)
            first = False
        else:
            train_data.append(line)
train_data = pd.DataFrame(train_data, columns=columns)

In [3]:
test_data = []
with open('test.csv', newline='') as csvfile:
    test_data_reader = csv.reader(csvfile)
    for line in test_data_reader:
        test_data.append(line)
test_data = pd.DataFrame(test_data)

In [4]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [10]:
num_data_train = []
for col in train_data.columns:
    try:
        train_data[col] = train_data[col].replace(',', '').astype(float)
    except:
        pass
    if train_data[col].dtype in ['float64', 'int64']:
        num_data_train.append(col)

print(num_data_train)
correlation_matrix = train_data[num_data_train].corr()
corr_saleprice = correlation_matrix['SalePrice']
print()

[('Id',), ('MSSubClass',), ('LotArea',), ('OverallQual',), ('OverallCond',), ('YearBuilt',), ('YearRemodAdd',), ('BsmtFinSF1',), ('BsmtFinSF2',), ('BsmtUnfSF',), ('TotalBsmtSF',), ('1stFlrSF',), ('2ndFlrSF',), ('LowQualFinSF',), ('GrLivArea',), ('BsmtFullBath',), ('BsmtHalfBath',), ('FullBath',), ('HalfBath',), ('BedroomAbvGr',), ('KitchenAbvGr',), ('TotRmsAbvGrd',), ('Fireplaces',), ('GarageCars',), ('GarageArea',), ('WoodDeckSF',), ('OpenPorchSF',), ('EnclosedPorch',), ('3SsnPorch',), ('ScreenPorch',), ('PoolArea',), ('MiscVal',), ('MoSold',), ('YrSold',), ('SalePrice',)]

In [12]:

# If corr_saleprice is a DataFrame with one column, convert it to a Series
corr_saleprice_series = corr_saleprice.squeeze()

# Now sort by the absolute values in descending order
sorted_corr_saleprice = corr_saleprice_series.abs().sort_values(ascending=False)

# Display the sorted correlation values
print(sorted_corr_saleprice)

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
Fireplaces       0.466929
BsmtFinSF1       0.386420
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
KitchenAbvGr     0.135907
EnclosedPorch    0.128578
ScreenPorch      0.111447
PoolArea         0.092404
MSSubClass       0.084284
OverallCond      0.077856
MoSold           0.046432
3SsnPorch        0.044584
YrSold           0.028923
LowQualFinSF     0.025606
Id               0.021917
MiscVal          0.021190
BsmtHalfBath     0.016844
BsmtFinSF2       0.011378
Name: (SalePrice,), dtype: float64

In [ ]:
X =